.my-masonry-grid {
    display: flex;
    margin-left: 0; /* Remove negative margin */
    width: 100%; /* Ensure the width fits within the container */
    overflow: hidden; /* Prevent overflow */
}

.my-masonry-grid_column {
    padding-left: 10px; /* Adjusts to the gutter size */
    background-clip: padding-box;
}
.my-masonry-grid_column:nth-of-type(1) {
    padding-left: 0; /* No padding for the first column */
}

.my-masonry-grid_column > img {
    margin-bottom: 10px; /* Adjusts to the gutter size */
    width: 100%; /* Ensure images fit within the columns */
    display: block; /* Prevent images from causing horizontal scrolling */
}
.css-177dxab {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: unset !important;
}